templates/integrating-with-nosql/dynamodb/insert/Inserting-to-DynamoDB.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>df0140a1-0181-1000-9eae-a1116a1a928d</groupId>
    <name>Inserting-to-DynamoDB</name>
    <snippet>
        <connections>
            <id>0e0830f2-c1c8-36b4-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>416.0</x>
                <y>432.0</y>
            </bends>
            <destination>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>1ef94e2f-cecd-3c12-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>12ad36d2-7820-352f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>59baff5c-b5fd-3b76-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>1ef94e2f-cecd-3c12-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>12ad36d2-7820-352f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>848072c0-91f1-3431-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>0.0</x>
                <y>248.0</y>
            </bends>
            <destination>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>12ad36d2-7820-352f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>009ef494-cc06-368e-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>aeb79ef9-d0b5-324a-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>632.0</x>
                <y>480.0</y>
            </bends>
            <destination>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>1ef94e2f-cecd-3c12-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unprocessed</selectedRelationships>
            <source>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>12ad36d2-7820-352f-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <funnels>
            <id>1ef94e2f-cecd-3c12-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <position>
                <x>752.0</x>
                <y>280.0</y>
            </position>
        </funnels>
        <labels>
            <id>472685e4-fde9-3007-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <position>
                <x>208.0</x>
                <y>32.0</y>
            </position>
            <height>48.0</height>
            <label>Insert Data into AWS DynamoDB</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#debd38</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>16px</value>
                </entry>
            </style>
            <width>240.0</width>
        </labels>
        <labels>
            <id>e4f751e6-2713-36d9-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <position>
                <x>1136.0</x>
                <y>0.0</y>
            </position>
            <height>48.0</height>
            <label>Get Data from AWS DynamoDB</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#debd38</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>16px</value>
                </entry>
            </style>
            <width>240.0</width>
        </labels>
        <processors>
            <id>009ef494-cc06-368e-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <position>
                <x>144.0</x>
                <y>112.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>id</key>
                        <value>
                            <name>id</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>{
  "id" : 6522,
  "ident" : "00A",
  "type" : "heliport",
  "name" : "Total Rf Heliport",
  "latitude_deg" : 40.0708,
  "longitude_deg" : -74.93360137939453,
  "elevation_ft" : 11,
  "continent" : "NA",
  "iso_country" : "US",
  "iso_region" : "US-PA",
  "municipality" : "Bensalem",
  "scheduled_service" : "yes",
  "gps_code" : "00A",
  "iata_code" : null,
  "local_code" : "00A",
  "home_link" : null,
  "wikipedia_link" : null,
  "keywords" : null
}</value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                    </entry>
                    <entry>
                        <key>id</key>
                        <value>6522</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GenerateFlowFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
        <processors>
            <id>12ad36d2-7820-352f-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <position>
                <x>144.0</x>
                <y>248.0</y>
            </position>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Table Name</key>
                        <value>
                            <name>Table Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hash Key Name</key>
                        <value>
                            <name>Hash Key Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Range Key Name</key>
                        <value>
                            <name>Range Key Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hash Key Value</key>
                        <value>
                            <name>Hash Key Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Range Key Value</key>
                        <value>
                            <name>Range Key Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hash Key Value Type</key>
                        <value>
                            <name>Hash Key Value Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Range Key Value Type</key>
                        <value>
                            <name>Range Key Value Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Json Document attribute</key>
                        <value>
                            <name>Json Document attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Character set of document</key>
                        <value>
                            <name>Character set of document</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch items for each request (between 1 and 50)</key>
                        <value>
                            <name>Batch items for each request (between 1 and 50)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>
                            <name>Region</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                        <value>
                            <name>Access Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                        <value>
                            <name>Secret Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                        <value>
                            <name>Credentials File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                            <name>AWS Credentials Provider service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>
                            <name>Proxy Host Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                        <value>
                            <name>proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                        <value>
                            <name>proxy-user-password</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Table Name</key>
                        <value>nifi-test</value>
                    </entry>
                    <entry>
                        <key>Hash Key Name</key>
                        <value>id</value>
                    </entry>
                    <entry>
                        <key>Range Key Name</key>
                    </entry>
                    <entry>
                        <key>Hash Key Value</key>
                        <value>${id}</value>
                    </entry>
                    <entry>
                        <key>Range Key Value</key>
                        <value>${dynamodb.item.range.key.value}</value>
                    </entry>
                    <entry>
                        <key>Hash Key Value Type</key>
                        <value>string</value>
                    </entry>
                    <entry>
                        <key>Range Key Value Type</key>
                        <value>string</value>
                    </entry>
                    <entry>
                        <key>Json Document attribute</key>
                        <value>data</value>
                    </entry>
                    <entry>
                        <key>Character set of document</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>Batch items for each request (between 1 and 50)</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>us-east-1</value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>PutDynamoDB</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unprocessed</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.aws.dynamodb.PutDynamoDB</type>
        </processors>
    </snippet>
    <timestamp>10/03/2022 20:29:49 IST</timestamp>
</template>
