templates/integrating-with-nosql/dynamodb/query/Querying-from-DynamoDB.xml
<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<template encoding-version="1.3">
    <description></description>
    <groupId>df0140a1-0181-1000-9eae-a1116a1a928d</groupId>
    <name>Querying-from-DynamoDB</name>
    <snippet>
        <connections>
            <id>1dfee7f6-edcc-31c8-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>560.0</x>
                <y>392.0</y>
            </bends>
            <destination>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>c8a011f7-3c5b-3acf-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>not found</selectedRelationships>
            <source>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>6a6ed435-a420-308c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>6035a6bc-8e01-3319-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>0.0</x>
                <y>192.0</y>
            </bends>
            <destination>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>6a6ed435-a420-308c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>0</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>96508707-5cfa-37a6-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>946426bf-78cd-3d18-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>c8a011f7-3c5b-3acf-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>success</selectedRelationships>
            <source>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>6a6ed435-a420-308c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>c35125ac-ee74-3eef-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <bends>
                <x>0.0</x>
                <y>304.0</y>
            </bends>
            <destination>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>6e43367f-094f-33d6-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>unprocessed</selectedRelationships>
            <source>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>6a6ed435-a420-308c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <connections>
            <id>d29dc2a9-5989-3b44-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <backPressureDataSizeThreshold>1 GB</backPressureDataSizeThreshold>
            <backPressureObjectThreshold>10000</backPressureObjectThreshold>
            <destination>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>6e43367f-094f-33d6-0000-000000000000</id>
                <type>FUNNEL</type>
            </destination>
            <flowFileExpiration>0 sec</flowFileExpiration>
            <labelIndex>1</labelIndex>
            <loadBalanceCompression>DO_NOT_COMPRESS</loadBalanceCompression>
            <loadBalancePartitionAttribute></loadBalancePartitionAttribute>
            <loadBalanceStatus>LOAD_BALANCE_NOT_CONFIGURED</loadBalanceStatus>
            <loadBalanceStrategy>DO_NOT_LOAD_BALANCE</loadBalanceStrategy>
            <name></name>
            <selectedRelationships>failure</selectedRelationships>
            <source>
                <groupId>43eec5ab-69ae-3472-0000-000000000000</groupId>
                <id>6a6ed435-a420-308c-0000-000000000000</id>
                <type>PROCESSOR</type>
            </source>
            <zIndex>0</zIndex>
        </connections>
        <funnels>
            <id>6e43367f-094f-33d6-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <position>
                <x>280.0</x>
                <y>480.0</y>
            </position>
        </funnels>
        <funnels>
            <id>c8a011f7-3c5b-3acf-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <position>
                <x>736.0</x>
                <y>256.0</y>
            </position>
        </funnels>
        <labels>
            <id>e4f751e6-2713-36d9-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <position>
                <x>184.0</x>
                <y>0.0</y>
            </position>
            <height>48.0</height>
            <label>Get Data from AWS DynamoDB</label>
            <style>
                <entry>
                    <key>background-color</key>
                    <value>#debd38</value>
                </entry>
                <entry>
                    <key>font-size</key>
                    <value>16px</value>
                </entry>
            </style>
            <width>240.0</width>
        </labels>
        <processors>
            <id>6a6ed435-a420-308c-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <position>
                <x>128.0</x>
                <y>216.0</y>
            </position>
            <bundle>
                <artifact>nifi-aws-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>Table Name</key>
                        <value>
                            <name>Table Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hash Key Name</key>
                        <value>
                            <name>Hash Key Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Range Key Name</key>
                        <value>
                            <name>Range Key Name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hash Key Value</key>
                        <value>
                            <name>Hash Key Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Range Key Value</key>
                        <value>
                            <name>Range Key Value</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Hash Key Value Type</key>
                        <value>
                            <name>Hash Key Value Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Range Key Value Type</key>
                        <value>
                            <name>Range Key Value Type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Json Document attribute</key>
                        <value>
                            <name>Json Document attribute</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch items for each request (between 1 and 50)</key>
                        <value>
                            <name>Batch items for each request (between 1 and 50)</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>
                            <name>Region</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                        <value>
                            <name>Access Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                        <value>
                            <name>Secret Key</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                        <value>
                            <name>Credentials File</name>
                        </value>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.processors.aws.credentials.provider.service.AWSCredentialsProviderService</identifiesControllerService>
                            <name>AWS Credentials Provider service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>
                            <name>Communications Timeout</name>
                        </value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.ssl.SSLContextService</identifiesControllerService>
                            <name>SSL Context Service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                        <value>
                            <identifiesControllerService>org.apache.nifi.proxy.ProxyConfigurationService</identifiesControllerService>
                            <name>proxy-configuration-service</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                        <value>
                            <name>Proxy Host</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                        <value>
                            <name>Proxy Host Port</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                        <value>
                            <name>proxy-user-name</name>
                        </value>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                        <value>
                            <name>proxy-user-password</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>Table Name</key>
                        <value>nifi-test</value>
                    </entry>
                    <entry>
                        <key>Hash Key Name</key>
                        <value>id</value>
                    </entry>
                    <entry>
                        <key>Range Key Name</key>
                    </entry>
                    <entry>
                        <key>Hash Key Value</key>
                        <value>${dynamodb.item.hash.key.value}</value>
                    </entry>
                    <entry>
                        <key>Range Key Value</key>
                        <value>${dynamodb.item.range.key.value}</value>
                    </entry>
                    <entry>
                        <key>Hash Key Value Type</key>
                        <value>string</value>
                    </entry>
                    <entry>
                        <key>Range Key Value Type</key>
                        <value>string</value>
                    </entry>
                    <entry>
                        <key>Json Document attribute</key>
                        <value>data</value>
                    </entry>
                    <entry>
                        <key>Batch items for each request (between 1 and 50)</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Region</key>
                        <value>us-east-1</value>
                    </entry>
                    <entry>
                        <key>Access Key</key>
                    </entry>
                    <entry>
                        <key>Secret Key</key>
                    </entry>
                    <entry>
                        <key>Credentials File</key>
                    </entry>
                    <entry>
                        <key>AWS Credentials Provider service</key>
                    </entry>
                    <entry>
                        <key>Communications Timeout</key>
                        <value>30 secs</value>
                    </entry>
                    <entry>
                        <key>SSL Context Service</key>
                    </entry>
                    <entry>
                        <key>proxy-configuration-service</key>
                    </entry>
                    <entry>
                        <key>Proxy Host</key>
                    </entry>
                    <entry>
                        <key>Proxy Host Port</key>
                    </entry>
                    <entry>
                        <key>proxy-user-name</key>
                    </entry>
                    <entry>
                        <key>proxy-user-password</key>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GetDynamoDB</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>failure</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>not found</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>unprocessed</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.aws.dynamodb.GetDynamoDB</type>
        </processors>
        <processors>
            <id>96508707-5cfa-37a6-0000-000000000000</id>
            <parentGroupId>43eec5ab-69ae-3472-0000-000000000000</parentGroupId>
            <position>
                <x>128.0</x>
                <y>72.0</y>
            </position>
            <bundle>
                <artifact>nifi-standard-nar</artifact>
                <group>org.apache.nifi</group>
                <version>1.15.3</version>
            </bundle>
            <config>
                <bulletinLevel>WARN</bulletinLevel>
                <comments></comments>
                <concurrentlySchedulableTaskCount>1</concurrentlySchedulableTaskCount>
                <descriptors>
                    <entry>
                        <key>File Size</key>
                        <value>
                            <name>File Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>
                            <name>Batch Size</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>
                            <name>Data Format</name>
                        </value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>
                            <name>Unique FlowFiles</name>
                        </value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                        <value>
                            <name>generate-ff-custom-text</name>
                        </value>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>
                            <name>character-set</name>
                        </value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                        <value>
                            <name>mime-type</name>
                        </value>
                    </entry>
                    <entry>
                        <key>dynamodb.item.hash.key.value</key>
                        <value>
                            <name>dynamodb.item.hash.key.value</name>
                        </value>
                    </entry>
                </descriptors>
                <executionNode>ALL</executionNode>
                <lossTolerant>false</lossTolerant>
                <penaltyDuration>30 sec</penaltyDuration>
                <properties>
                    <entry>
                        <key>File Size</key>
                        <value>0B</value>
                    </entry>
                    <entry>
                        <key>Batch Size</key>
                        <value>1</value>
                    </entry>
                    <entry>
                        <key>Data Format</key>
                        <value>Text</value>
                    </entry>
                    <entry>
                        <key>Unique FlowFiles</key>
                        <value>false</value>
                    </entry>
                    <entry>
                        <key>generate-ff-custom-text</key>
                    </entry>
                    <entry>
                        <key>character-set</key>
                        <value>UTF-8</value>
                    </entry>
                    <entry>
                        <key>mime-type</key>
                    </entry>
                    <entry>
                        <key>dynamodb.item.hash.key.value</key>
                        <value>6522</value>
                    </entry>
                </properties>
                <runDurationMillis>0</runDurationMillis>
                <schedulingPeriod>0 sec</schedulingPeriod>
                <schedulingStrategy>TIMER_DRIVEN</schedulingStrategy>
                <yieldDuration>1 sec</yieldDuration>
            </config>
            <executionNodeRestricted>false</executionNodeRestricted>
            <name>GenerateFlowFile</name>
            <relationships>
                <autoTerminate>false</autoTerminate>
                <name>success</name>
            </relationships>
            <state>STOPPED</state>
            <style/>
            <type>org.apache.nifi.processors.standard.GenerateFlowFile</type>
        </processors>
    </snippet>
    <timestamp>10/03/2022 20:30:35 IST</timestamp>
</template>
